.game-container {
  position: relative;
  width: 100vw;
  height: 100vh;
  background-size: cover;
  background-position: center;
  overflow: hidden; /* Keep this to avoid content going outside the game area */
}

.score {
  position: absolute;
  top: 10px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 36px;
  font-weight: bold;
  color: black;
  z-index: 10; /* Make sure the score is always on top */
}

.game-area {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden; /* Ensure elements don't overflow out of the game area */
}

.bird {
  position: absolute;
  width: 30px; /* Width of the bird */
  height: 25px; /* Height of the bird */
  transition: transform 0.1s; /* Smooth transition for any transformations */
}

.pipe {
  position: absolute;
  width: 53px; /* Width of the pipe */
  height: 200px; /* Height of the pipe */
}

.Road {
  position: absolute; /* Allows the image to be positioned based on its nearest positioned ancestor */
  width: 100%; /* Set the width to cover the container */
  height: auto; /* Maintain the aspect ratio of the image */
  bottom:0; /* Position it at the top of the screen */
}


.theme-button {
  position: absolute;
  top: 20px;
  right: 20px;
  background: none;
  border: none;
  cursor: pointer;
  z-index: 10; /* Keep the button on top */
}

.theme-button img {
  width: 15px;
  height: 15px;
}
